  <!-- Modal Trigger
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Crvfffeate</a>


  <!-- Modal Structure -->
  <!-- <div id="modal1" class="modal">
        <form id="test" class="modal-content" action="/create" method="POST" >
            <label for="text">Type wordds:</label>
            <input type="text" name="text" value="" id="text"> 
            <label for="url">Media URL plz:</label>
            <input type="text" name="url" id="url">
            <input type="submit" name="" id="submit">
        </form>
  </div>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, {});

  });
</script> -->