<form action="/create" method="POST" style="display: flex; flex-direction: column; width: 25%;">
    <label for="text">Type words:</label>
    <input type="text" name="text" value="" id="text"> 
    <label for="url">Media URL plz:</label>
    <input type="text" name="url" id="url">
    <input type="submit" name="" id="submit">
</form>

<a href="/">Home</a>