<div class="mainContainer">

<% posts.forEach((post) => { %>
    <% if(post.url) { %>
        <a href="/edit"><img src=" <%= post.url %>" alt=""></a>
   <% } else if(post.text) { %>
        <a href="/edit"><span> <%= post.text %> </span></a>
   <% } %>
<% }) %>

</div>

<%- include('../partials/navBar.ejs') %>