<div class="mainContainer">

<% posts.forEach((post) => { %>
    <% if(post.url) { %>
        <a href="/edit"><img src=" <%= post.url %>" alt=""></a>
   <% } else if(post.text) { %>
        <a href="/edit"><span> <%= post.text %> </span></a>
   <% } %>
<% }) %>

</div>
<div class="navBar">
    <a href="/create">Create</a>
    <a href="/edit">Edit</a>
</div>