<div>
    <h1>Cool-Social-Media-App ©</h1>
    <br>
    <h4 class="center"><span class="focus">Log in</span> if you have an account. If you do not click <a href="/register">here</a> to register</h4>
    <br>
    <div class="container">
        <form action="/login" method="POST">
            <div>
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <br>
            <div class="center">
                <button class= "btn" type="submit">Login</button>
            </div>
        </form>
    </div>
</div>