<div>
    <h1>Cool-Social-Media-App ©</h1>
    <br>
    <h4 class="center"><span class="focus">Register</span> if you do not have an account. If you do, click <a href="/login">here</a> to log in</h4>
    <br>
    <div class="container">
        <form action="/register" method="POST">
            <div>
                <input type="text" id="username" name="username" required>
                <label for="username">Username</label>
            </div>
            <div>
                <input type="text" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div>
                <input type="text" id="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <br>
            <div class="center">
                <button class= "btn" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>