body {
    background-color: white;
    display: flex;
    flex-direction: column;
    /* background-image: url('../uploads/coolsocial.png'); */
    background-size: cover;
    
}
.class {
    justify-content: center;
    align-items: center;
}
.mainContainer {
    width: 90vw;
    height: 90vh;
    /* border: double black; */
    margin: 1vh auto;
    overflow: scroll;
   
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.imageHolder {
    display: inline-block;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    flex-wrap: wrap;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 210px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 210px));
    /* border: double black; */
   
    
}
.content {
    max-width: 4rem;
    }

img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}
span {
    color: blue !important;
    font-size: 2rem;
}

.icons {
    display: flex;
    justify-content: space-between;   
}

.card {
    width: 200px; 
    display: inline-block;
    margin-right: 5px !important;
    margin-left: 5px !important;
    max-height: 200px;
}



/* POST.URL */
.urlCard {
    min-width: 200px !important;
    height: 200px !important;
}

.urlImage {
    height: 200px !important;
    object-fit: cover;
}
.card-reveal {
    padding: 5px !important;
}
.card-content {
    padding: 0 !important;
}
.content{
    color: black !important;
}

.urlFlag {
    display: inline-block !important;
}

.urlLike {
    display: inline-block !important;
}


/* POST.TEXT */

.editBtn {
    float: left;
}

.textCard {
    min-width: 200px !important;
    height: 200px !important;
}

.postText {
    height: 200px; 
    width: 200px;
}

.textDisplayDiv {
    max-height: 200px; 
    max-width: 200px; 
    overflow: scroll;
}

span.activator {
    max-height: 200px !important;
}

.textDisplaySpan {
    max-height: 200px; 
}

.cardRevText {
    padding: 5px !important;
}

.cardContText {
    padding: 0 !important
}

.editButtonText {
    color: black !important;
}

.textFlagMainDiv {
    display: inline-block !important;
}

.textLikeMainDiv {
    display: inline-block !important
}


/* POST.UPLOAD */
.uploadCard {
    min-width: 200px !important;
    height: 200px !important;
}

.postUpload {
    height: 200px; width: 200px
}

.cardRevUpload{ 
    padding: 5px !important
}

.cardContUpload {
    padding: 0 !important
}

.editButtonUpload {
    color: black !important
}

.uploadFlagMainDiv{
    display: inline-block !important;
}

.uploadLikeMainDiv {
    display: inline-block !important;
} 

.editMenu {
    padding-bottom: 0 !important;
}

.deleteForm {
    padding-top: 0 !important;
}


/* log */

.logout {
    width: 5rem;
    margin: 5px;
    border: double black;
    display: flex;
    justify-content: center;
}
