body {
    background-color: white;
    display: flex;
    flex-direction: column;
    
}

.class {
    justify-content: center;
    align-items: center;
}

.mainContainer {
    width: 90vw;
    height: 90vh;
    border: double black;
    margin: 1vh auto;
    overflow: scroll;
    /* background-color: black; */
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
}

img {
    width: 200px;
}


.testing {
    background-color: red;
    background-size: cover;
    
}

a {
    text-decoration: none;
}

.dropdown-trigger {
    width: 5rem;
    align-self: center;
    /* color: red; */
    background-color: red !important;
    border-radius: 100% !important;
}
